.modal-match {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: rgb(255, 255, 255);
}

.modal-content-match {
  width: 70%; /* Нова ширина контенту */
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #555;
}

.close-button:hover {
  color: #000;
}

.modal-match h2 {
  margin-bottom: 10px;
}

.modal-match p {
  margin-bottom: 5px;
}

.modal-match h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Колонка команд та рахунку */
.team-score {
  display: flex;
  justify-content: space-between;
}

/* Статистика матчу */
.match-stats {
  margin-top: 20px;
}

.match-stats p {
  margin-bottom: 5px;
}

.stats-item {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4b0082;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.team-link {
  color: white;
  text-decoration: none;
}

.edit-button {
  background-color: #4b0082; /* фіолетовий */
  color: #ffffff; /* білий */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #48086a; /* темно-фіолетовий при наведенні */
}

.delete-button {
  background-color: #4b0082; /* фіолетовий */
  color: #ffffff; /* білий */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #48086a; /* темно-фіолетовий при наведенні */
}
.button-container {
  margin-top: 10px;
}
