.match-container {
  padding: 20px;
  font-size: 24px;
  color: white;
}

.season-heading {
  text-align: center;
}

.matches-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match-item {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4b0082;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.button-container {
  margin-bottom: 10px;
}
.team {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.match-details {
  flex: 1;
  text-align: center;
}

.stadium,
.date {
  font-size: 18px;
  color: #e0c1c1;
}

.team-link {
  color: white;
  text-decoration: none;
}

.download-button {
  background-color: #4b0082; /* фіолетовий */
  color: #ffffff; /* білий */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

.download-button:hover {
  background-color: #48086a; /* темно-фіолетовий при наведенні */
}
