.not-found-container {
  background-color: #4b0082;
  color: white;
  text-align: center;
  padding: 20px;
  height: 90vh; /* Встановлюємо висоту 100% від висоти вікна браузера */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-image {
  max-width: 100%;
  max-height: 200px;
}

.not-found-text {
  margin-bottom: 20px;
}

.return-button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  text-decoration: none; /* Видаляємо підкреслення посилання */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.return-button:hover {
  background-color: white;
  color: #4b0082;
}
